*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html
{
    margin:0;
}
#main
{
    display: flex;
    flex-direction: row;
    padding:0;
    margin:0;
    height:200vh;
}

#leftbg
{
    background-image: url(extras/pic.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 125vh;
    height:100%;

}

ul
{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-right:15vh;
    padding-left: 2vh;
    margin:0;
    list-style: none;
    
}

#main
{
    height:110vh;
}

#details
{
    display:flex;
    padding-bottom:4vh ;
    justify-content: center;
    align-items: center;
    padding-top: 3.5vh;
}

label,input
{
    display:flex;
    flex-direction: column;
}

label
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    color:gray;
    padding-bottom: 0.5vh;
}

input
{
    font-family: Arial, Helvetica, sans-serif;
    padding:1vh;
    border-radius: 0.75vh;
    border-color: #DEDEDE;
}

#sign
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5vh;
    padding-left: 0;
    background-color: #FAFAFA;
    width:100%
    
}

#desc
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-start;
    width:75vh;
    padding-bottom: 10vh;
    font-size: 3vh;
    margin-left:5vh;
}

#more
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-start;
    width:100vh;
    padding-bottom: 10vh;
    font-size: 2.5vh;
    margin-left:5vh;
}

#button
{
    padding:4vh 4vh 4vh 4vh;
}

#mainbutton
{
    background-color: rgb(85, 107, 47);
    color: white;
    border: none;
    padding: 2vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vh;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2vh;
}

#field
{
    border-style:solid;
    border-color: #DEDEDE;
    width:100vh;
    box-shadow: 0px 5px 18px 3px #DEDEDE;
}